.sectionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC ;
  height: 350px;
}

.textAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  text-align: left;
  min-width: 400px;
  max-width: 800px;
  color: black;
  padding-block: 24px;
}

.textAbout > hr {
  border: 2px solid var(--main-color-2);
  width: 15%;
}

.aboutH1 {
  font-size: xx-large;
}

.aboutH3 {
  font-weight: 300;
}

.button {
    font-weight: 600 !important;
    text-transform: capitalize !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    color: black !important;
    padding: 12px 24px !important;
    background-color: #FECC01 !important;
}

.button:hover {
    color: black;
    background-color: #fbd744;
}

@media screen and (max-width: 900px) {
  .sectionAbout {
    height: auto;
  }

  .textAbout {
    width: 85vw;
    min-width: 0;
    gap: 18px;
  }

  .textAbout > button {
    width: 100%;
    max-width: none;
  }

}