.floating_button {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #25D366;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 8px;
  }
  
  .floating_button > a {
    display: flex;
  }
  