.mainPricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
  gap: 24px;

  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/menubar-d5213.appspot.com/o/Landing%2Fluca-nicoletti-O8CHmj0zgAg-unsplash.jpg?alt=media&token=499188c4-b8c5-4059-a075-0699381f9152"); */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/menubar-d5213.appspot.com/o/Landing%2F9db8af1b-f522-40c3-a9c9-cbd320f10c22.jpg?alt=media&token=fc7f43dd-ef70-4068-b046-e75c7c0045ff");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.containPricingCards {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 24px;
  overflow-x: hidden;
  padding: 12px;
}

.pricingCard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  padding: 24px 12px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 350px;
  background-color: whitesmoke;
}

.pricingCard:hover {
  box-shadow: 0 0 9px 4px #fecc01;
  transform: translateY(-2px);
}

.pricingCard > a {
  min-width: 100%;
}

.headCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.headCard > small {
  text-align: center;
}

.headCard > hr {
  color: var(--main-color);
}

.titlePlan {
  margin: 0 auto;
  text-align: center;
}

.salePlan {
  position: absolute;
  right: -17%;
  top: 4%;
  transform: rotate(45deg);
  font-size: small;
  background: #fecc01;
  padding: 8px;
  width: 60%;
}

.standard {
  color: gray;
}
.advance {
  color: var(--main-color);
}
.pro {
  color: rgb(179, 100, 100);
}

.itemsCard {
  display: flex;
  flex-direction: column;
  height: 70%;
  min-height: 150px;
  padding: 8px;
  gap: 8px;
}

.lineItemCard {
  display: flex;
  align-items: center;
  gap: 12px;
}

.textThrough {
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: var(--main-color);
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}
.checkSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 12px;
}


@media screen and (max-width: 1024px) {
  .containPricingCards {
    justify-content: flex-start;
    overflow-x: scroll;
  }
}
