.containHead {
    position: relative;
    height: 85vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/images-cdwenz.appspot.com/o/ezequiel_oriana%2F2151307800.webp?alt=media&token=5aaa4c62-ac1d-4737-aee4-62028846c07a");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: flex-end;
}

.titleHead {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 40%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 24px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: rgba(245, 245, 245, 0.932);
    border-radius: 10px;
}

.subtitle {
    color: var(--main-color-2);
}

.demoHead {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30%;
}

@media screen and (max-width: 900px) {
    .titleHead {
        left: 5%;
        width: 90%;
        height: 60%;
    }
}