@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: rgba(254, 204, 1);
  --main-color-2: #ffc400;
  /* --main-color-2: #ffa300; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #222222;
  scroll-behavior: smooth;
  transition: overflow-x 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: gray black; */
}

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #3d3d3d;
  border-radius: 3px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  border: 1px solid #3d3d3d;
} */
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
