.mainFooter {
  min-height: 51px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/images-cdwenz.appspot.com/o/ezequiel_oriana%2F2151307801.webp?alt=media&token=a82e84df-e512-4d91-8bca-44400daab744");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}

.textFooter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footerCopyright {
  display: flex;
  justify-content: center;
  gap: 8px;
  color: white;
}

.hardcode {
  background: linear-gradient(to right, #fecc01, #fff 35%, #f74904);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s alternate infinite;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
