.mainBenefits {
  padding: 36px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/images-cdwenz.appspot.com/o/ezequiel_oriana%2F2151307790.jpg?alt=media&token=7216072b-3dea-495d-8275-59561fda8010");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.mainBenefits > h1 {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: xx-large;
}

.containCard {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.cardBenefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  width: 90%;
  /* max-width: 420px; */
  border-radius: 10px;
  background-color: rgba(var(--main-color), 0.7);
  backdrop-filter: blur(100px);
  color: #e5e2d8;
  padding: 36px 24px;
}

.cardBenefits > h2 {
  margin: 0 auto;
}

.containPoints {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containPoints h4 {
  letter-spacing: 1px;
  color: var(--main-color);
}

.containPoints small {
  font-size: medium;
}

.pointBenefits {
  display: flex;
  gap: 24px;
  align-items: center;
}

.iconBenefit {
  background-color: var(--main-color);
  border-radius: 100%;
  padding: 12px;
}

.iconBenefit > svg {
  font-size: 2rem;
  color: black;
}

@media screen and (max-width: 900px) {
  .mainBenefits {
    background-size: cover;
  }
  .containCard {
    flex-direction: column;
    align-items: center;
  }
  .cardBenefits {
    width: auto;
  }
  .containPoints {
    gap: 0;
  }
  .pointBenefits {
    min-height: 80px;
  }
}
